<div class="button-block">
  <button
    type="button"
    class="btn"
    id="skill-tree-btn"
    (click)="toggleDisplay()"
  >
    Skill Tree
  </button>
</div>

<div *ngIf="show" id="skill-tree-grid">
  <div class="grid-container" id="path-A">
    <div class="grid-item path-title">Infection</div>
    <div
      class="grid-item skill-1"
      id="infection-1"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-2"
      id="infection-2"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-3"
      id="infection-3"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-4"
      id="infection-4"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-5"
      id="infection-5"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-6"
      id="infection-6"
      (click)="buySkill($event)"
    ></div>
  </div>
  <div class="grid-container" id="path-B">
    <div class="grid-item path-title">Profit</div>
    <div
      class="grid-item skill-1"
      id="profit-1"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-2"
      id="profit-2"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-3"
      id="profit-3"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-4"
      id="profit-4"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-5"
      id="profit-5"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-6"
      id="profit-6"
      (click)="buySkill($event)"
    ></div>
  </div>
  <div class="grid-container" id="path-C">
    <div class="grid-item path-title">Stealth</div>
    <div
      class="grid-item skill-1"
      id="stealth-1"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-2"
      id="stealth-2"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-3"
      id="stealth-3"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-4"
      id="stealth-4"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-5"
      id="stealth-5"
      (click)="buySkill($event)"
    ></div>
    <div
      class="grid-item skill-6"
      id="stealth-6"
      (click)="buySkill($event)"
    ></div>
  </div>
  <br />
  <br />
  <div class="skill-points">
    Skill points available: X
  </div>
</div>
