<div class="button-block">
  <button
    type="button"
    class="btn"
    id="skill-tree-btn"
    (click)="toggleDisplay()"
  >
    Skill Tree
  </button>
</div>

<div *ngIf="show" id="skill-tree-grid">
  <div class="grid-container" id="path-A">
    <div class="grid-item path-title">Infection</div>
    <div class="grid-item skill-1" id="infection-1"></div>
    <div class="grid-item skill-2" id="infection-2"></div>
    <div class="grid-item skill-3" id="infection-3"></div>
    <div class="grid-item skill-4" id="infection-4"></div>
    <div class="grid-item skill-5" id="infection-5"></div>
    <div class="grid-item skill-6" id="infection-6"></div>
    <div class="grid-item skill-7" id="infection-7"></div>
    <div class="grid-item skill-8" id="infection-8"></div>
    <div class="grid-item skill-9" id="infection-9"></div>
    <div class="grid-item skill-10" id="infection-10"></div>
  </div>
  <div class="grid-container" id="path-B">
    <div class="grid-item path-title">Profit</div>
    <div class="grid-item skill-1" id="profit-1"></div>
    <div class="grid-item skill-2" id="profit-2"></div>
    <div class="grid-item skill-3" id="profit-3"></div>
    <div class="grid-item skill-4" id="profit-4"></div>
    <div class="grid-item skill-5" id="profit-5"></div>
    <div class="grid-item skill-6" id="profit-6"></div>
    <div class="grid-item skill-7" id="profit-7"></div>
    <div class="grid-item skill-8" id="profit-8"></div>
    <div class="grid-item skill-9" id="profit-9"></div>
    <div class="grid-item skill-10" id="profit-10"></div>
  </div>
  <div class="grid-container" id="path-C">
    <div class="grid-item path-title">Stealth</div>
    <div class="grid-item skill-1" id="stealth-1"></div>
    <div class="grid-item skill-2" id="stealth-2"></div>
    <div class="grid-item skill-3" id="stealth-3"></div>
    <div class="grid-item skill-4" id="stealth-4"></div>
    <div class="grid-item skill-5" id="stealth-5"></div>
    <div class="grid-item skill-6" id="stealth-6"></div>
    <div class="grid-item skill-7" id="stealth-7"></div>
    <div class="grid-item skill-8" id="stealth-8"></div>
    <div class="grid-item skill-9" id="stealth-9"></div>
    <div class="grid-item skill-10" id="stealth-10"></div>
  </div>
  <br />
  <div class="skill-points">
    Skill points available: X
  </div>
</div>
