/* You can add global styles to this file, and also import other style files */

$font-stack: Helvetica, sans-serif
$font-size: 30px
$primary-color: #FFF

body
    font: 100% $font-stack
    color: $primary-color
    background-image: url('https://c4.wallpaperflare.com/wallpaper/785/715/613/hackerman-retrowave-vintage-purple-synthwave-hd-wallpaper-preview.jpg')
    background-repeat: no-repeat
    background-size: cover
    
currency 
    font-size: 30px
    text-align: center
    color: white
    transition: 
        property: font-size
        duration: 2s
        delay: 1s
    
    &:hover 
        font-size: 40px 

attacks
    font-size: 20px
    text-align: left
    color: white
    vertical-align: top

attack_precentage
    font-size: 30px
    color: white
    text-align: left
    vertical-align: top 

malwares
    font-size: 20px

Malware Info
    font-size: 20px
    color: white
    max-width: 1400px
    display: flex
    flex-wrap: wrap
    flex-flow: row wrap 
    
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
